body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font: 16px;
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.text-blue {
  color: #1d4f91;
}

.text-brown {
  color: #ae8a43;
}

.text-black {
  color: #333333;
}

.text-grey-dark {
  color: #696969;
}

.text-grey {
  color: #c4c4c4;
}

.text-grey-light {
  color: #e5e5e5;
}

.text-grey-lighter {
  color: #f7f7f7;
}

.text-white {
  color: #ffffff;
}

.bg-blue {
  background-color: #1d4f91;
}

.bg-brown {
  background-color: #ae8a43;
}

.bg-black {
  background-color: #333333;
}

.bg-grey-dark {
  background-color: #696969;
}

.bg-grey {
  background-color: #c4c4c4;
}

.bg-grey-light {
  background-color: #e5e5e5;
}

.bg-grey-lighter {
  background-color: #f7f7f7;
}

.bg-white {
  background-color: #ffffff;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.mx-1 {
  margin-inline: 8px;
}

.my-1 {
  margin-block: 8px;
}

.px-1 {
  padding-inline: 8px;
}

.py-1 {
  padding-block: 8px;
}

.full-width {
  width: 100%;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.justify-end {
  justify-content: flex-end;
}

.content-div {
  min-height: 100vh;
  position: relative;
}

.shadow {
  box-shadow: 0px 05px 10px 05px rgb(155, 155, 155);
}

.main-image-size {
  height: 600px;
  max-width: 400px;
}

.justify-between {
  justify-content: space-between;
}

.px-30 {
  padding-inline: 30px;
}

.overflow-hidden {
  overflow: hidden;
}

.dna-pattern {
  background-image: url("./assets/images/backgroundPattern.svg");
  background-image: cover;
}

.ellipse-pattern {
  background-image: url("./assets/images/Ellipse.svg");
  background-image: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.icons-size {
  height: 16px;
  width: 16px;
}

.mt-70 {
  margin-top: 70px;
}
.mt-40 {
  margin-top: 40px;
}

.margin-0 {
  margin: 0px !important;
}

.global-2-col-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.border-radius-5px {
  border-radius: 5px;
}
